body{    
    margin: 0px;
    background-color: #FFFFFF !important;
    font: 13px Helvetica, Arial, sans-serif;
}

.topheader{
    font-size: 30px;
    font-weight: bold; 
    color:#FFF !important;
}


#text-info{     
    font-family:'News Gothic Light', 'Arial','Arial Narrow', serif !important;
    font-size: 30px;
}

.welcome-title{
    color: rgba(55,74,153, 1) !important;
    font-weight: bold;
    font-size: 30px !important;
}

#header, #footer{ background-color: #0A3A6E !important; color: #fff; }
#top a:link, #top a:visited { color: white; }
#top-band2{background-color: rgb(255,199,38);}
#msj-info-left{ color: rgb(10,58,110); }
#marco-izq-title{ border-left-color: rgba(55,74,153, 1) !important; }
.welcome-msg{ margin-top: 20px !important; }
.welcome-msg-gallery{ color: rgb(10,58,110); }
.ui-panelgrid .ui-panelgrid-cell{ border:none !important; }