
#wrapper{
    margin: 0 auto;
    width: 900px;
}


#bottom {
    float: left;
    background-color: #0A3A6E;
    padding: 15px 0;
    min-width: 100% !important;
    color: #FFF !important;
    min-height: 100px;
}

div{
    display:block;
}

#left {
    float: left;
    padding: 5px;
    width: 170px;
    min-height: 800px;
    border-right: 1px solid red;
}

.center_content {
    position: relative;
    padding: 5px;
    
}

.left_content {
    padding: 5px;
    margin-left: 170px;
    min-height: 400px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {  
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


#top-band{
    float: left; 
    height: 35px;
    margin: 0px;
    padding: 0px;
    min-width: 100% !important;
}
#top-band2{
    margin: 0px;
    height: 50px;    
    padding: 0px;
    width: 100% !important;
    text-align: left;
}

.content-catalog {
    min-height: 50%;
    width:  100%;
    min-height: 600px;
}