#top {
    position: relative;
    padding: 15px 0;
    margin: 0px auto;
    min-height: 100px;
    min-width: 100% !important;
}

#header, footer{
    display: inline-block;
    vertical-align: top;
    min-width: 100%;
    max-width: 100%;
}

#footer{
    overflow: auto;
    min-height:50px;
    max-height: 55px;
    position: relative;
    width: 100%;
    border-top:1px solid rgba(27,71,48,1);
}

#container {
    min-width: 1200px;
    max-width: 1201px;
    margin-left:auto;
    margin-right:auto;    
    border:1px solid rgba(27,71,48,1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(27,71,48,1); // Verde
    -moz-box-shadow: 10px 10px 5px 0px rgba(27,71,48,1);
    box-shadow: 10px 10px 5px 0px rgba(27,71,48,1);  
    background-color: #fff;
} 

#wrapper{
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 40px;
    background-color:#FFFFFF;
}


#wrapper-cat{
    margin: 0 auto;
    width: 1000px;
    min-height: 580px;
    max-height: 600px;
    padding-bottom: 40px;
    font-size: 10px;
}

.wrap {
    position:relative;
    margin:0 auto;
    width:1201px;    
    min-height: 130px;
//    background-color: #DDF0C2;
    background-image: url("verde7.jpg");
}

#left {
    float: left;
    padding: 5px;
    width: 210px;
    min-height: 400px;
    max-height: 600px; 
    border-right: none;
}

.center_content {
    position: relative;
    padding: 5px;
    min-height: 400px;
    max-height: 600px;
}
.content-catalog{
    min-height: 800px;
    height: 800px;
}

.left_content {
    padding: 5px;
    margin-left: 170px;
    min-height: 400px;
    max-height: 600px;
}

// Configuracion para el header
.marco-izq {    
    max-height:100px;
    float: left;    
    position: relative;
    border: 1px solid #fff !important;
}

#marco-izq-img{
    float: left;
    width: 17%;
    max-height:100px;
    position: relative;
    clear: right;
}

#marco-der {
    width: 50%;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    height: 100px;
    max-height:100px;
    float: right;    
    position: relative;    
}

#marco-izq-title{
    min-width: 17%;
    position: relative;
    padding-top: 0px;
    max-height:100px;        
    float: right;
}

#logo{
    margin-top: 18px;
    margin-left: 400px;
    margin-bottom: 100px;
    border: 0px; 
    width:400px; 
    height:90px;
}

#top-band2{
    position: relative;
    height: 30px;    
    min-width: 100% !important;
}

// Estilos para la hoja de content
.text-info{
    display: inline-block;
    text-wrap: none;
    margin-bottom: 20px;
    margin-left: 10px;
    min-width: 500px;
    max-width: 500px;
    min-height: 200px;
    max-height: 200px;
    position: relative;
    border: 1px solid rgba(27,71,48,1);
}

.msj-info-right{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;    
    text-wrap: normal; 
    min-width: 352px; 
    max-width: 355px; 
    min-height: 360px;
    max-height: 361px;
    border: none;  

}

.msj-info-left{
    display: inline-block;
    vertical-align: top;
    max-width: 401px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
    margin-left: 12px;
    margin-top: 15px;
    padding: 10px;    
    position: relative;
    border: dotted 1px rgba(27,71,48,1);    
    border-radius: 20px;
}

.msj-login-box{
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    min-width: 201px;
    max-height: 200px;
    min-height: 200px;
    margin-left: 2px;
    margin-top: 15px;
    padding: 10px;    
    position: relative;
    border: none;    
}


#marco-bot-title{             

    display: inline-block;
    vertical-align: top;        
    margin: 3px 0px 2px 15px;
    width: 500px;
    border:none;
}

#marco-bot-img{
    display: inline-block;
    vertical-align: top;
    min-width: 400px;
    min-height:20px;
    margin: 2px 5px 0px 750px;
    border:none;
    float: right;
    
    
}

#marco-bot-img a {
    text-decoration: none;
}
#marco-bot-img a:link {
    color: #FFF;
}

#marco-bot-img a:hover {
    color: #000;
}

#marco-bot-img a:visited {
    color: #378B1B;
}

#contentGallery{ border: none !important; }
.welcome-msg-gallery{margin-top: 20px;}
.vlogin{ border:none !important; }


div{ display:block; }

#salePanel{
    margin-top: 210px;
    //float: left;
    position: absolute;
}

.borderPanelGrid tr, .borderPanelGrid td{
    border: none;
}

.itinerary-header-detail{
    float: left;    
}

#itinerary-detail-detail{
    float: right;    
}

.itinerary-header-detail{
    display: inline-block;
    vertical-align: top;
}
.itinerary-header-detail td, itinerary-header-detail tr{
    border: none;  

}

.itinerary-detail-detail{
    min-width: 80%;
    max-width: 81%;
    display: inline-block;
    vertical-align: top;
}

.sale-schedule-panel tr, .sale-schedule-panel td{
    border: none;
}
.box-content-sale{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px; 
    margin-right: 20px;
    border: 1px solid rgba(27,71,48,1);
    padding: 10px 40px;     
    width: 300px;
    min-height: 350px;
    border-radius: 25px;
}

.box-content-sale-detail{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;    
    border: 1px solid rgba(27,71,48,1);
    padding: 10px 40px;     
    width: 60%;
    border-radius: 25px;
    min-height: 500px;
}

.box-content-sale-confirm{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;    
    border: 1px solid rgba(27,71,48,1);
    padding: 10px 40px;     
    width: 90%;
    border-radius: 25px;
    min-height: 500px;
}


.box-content{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;    
    border: 2px solid #0A3A6E;
    padding: 10px 40px;     
    width: 300px;
    border-radius: 25px;
}

.button-rounded{
    padding: 1px 2px !important;       
    border-radius: 25px !important;   
    max-width: 90px;
    max-height: 40px;
}


.msj-info-left-expired p{
    font-size: 12px !important;
    border: 1px solid;
}
.msj-info-left-expired h2{
    font-size: 25px !important;
}
.msj-info-left-expired img{
    margin-left: 20px;
    margin-top: 20px;
}

.msj-info-right-expired h2{
    text-align: center;
}

#text-info-expired{     
    width: 400px;
    font-family:'News Gothic Light', 'Arial','Arial Narrow', serif !important;
    color: rgba(27,71,48,1);
    text-align: justify;    
    text-wrap: normal;
    margin-right: 10px;
    padding-top: 30px !important;
    border: none;
    float: right; 
}

.loginPanelGrid{
    display: inline-block;
    vertical-align: top;    
    min-width: 200px;
    border: 1px solid;
    border:1px solid rgba(27,71,48,1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(27,71,48,1); // Verde
    -moz-box-shadow: 10px 10px 5px 0px rgba(27,71,48,1);
    box-shadow: 10px 10px 5px 0px rgba(27,71,48,1);  
}
.loginPanelGrid tr, .loginPanelGrid td{
    border: none;
}

#marco-right-title{
    float: right;
    margin-right: 150px;
}

.catalog-table{
    margin-top: 20px;
}

.ui-selectonemenu-trigger, ui-state-default  {
    border: none !important;
    font: 12px Helvetica, Arial, sans-serif;
}


.grid-seats tr, grid-seats td{
    border: none;

}

.aislel{   
    border-right: none  !important; 
    border-top: none  !important; 
    border-bottom: none  !important; 
    border-left: #6DAD65 double !important; 
    text-align: center;
    min-height: 20px !important; 
    min-width: 30px !important; 
    margin-left: 0px;
    font-size: 12px !important;     
    background: #ffffff url(pseat.png) no-repeat left top !important;
    background-attachment: fixed;  // cover !important;
    background-size: 40% !important;
    font-weight: bold !important;
    text-align: center;
    color:#94A89E !important;
}

.aisler{   
    border-left: none  !important; 
    border-top: none  !important; 
    border-bottom: none  !important; 
    border-right: #6DAD65 double !important; 
    text-align: center;
    min-height: 20px !important; 
    min-width: 30px !important; 

    margin-right: 30px;
    font-size: 12px !important;  
    
    background: #ffffff url(pseat.png) no-repeat left top !important;
    background-attachment: fixed;  // cover !important;
    background-size: 40% !important;
    font-weight: bold !important;
    text-align: center;
    color:#94A89E !important;
}

.window{
    margin: 0px !important;
    padding: 0px !important;
    min-height: 20px !important; 
    min-width: 30px !important; 
    font-size: 12px !important;  
    background: #ffffff url(pseat.png) no-repeat left top !important;
    background-attachment: fixed;  // cover !important;
    background-size: 40% !important;
    font-weight: bold !important;
    text-align: center;
    color:#94A89E !important;
    border:none !important;
}
.window:hover, .aisler:hover, .aislel:hover{
    background: #849A8E !important;
    cursor: pointer;

}

.reservedSeat-grid{
    display: inline-block;
    vertical-align: top;    
    min-width: 200px;
    min-height: 380px;
    font-size: 10px !important;
    border: 1px solid;
    border:1px solid rgba(27,71,48,1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(27,71,48,1); // Verde
    -moz-box-shadow: 10px 10px 5px 0px rgba(27,71,48,1);
    box-shadow: 10px 10px 5px 0px rgba(27,71,48,1);  
}

.sale-payment-grid tr, .sale-payment-grid td{
    
}

#txt{
    display: inline-block;
    vertical-align: top;    
    font-size: 10px;
    margin-top: 1px;
}

.inner-seat-grid{
    border: 1px solid;
    border-color: #225A01;
}