/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 5, 2014, 12:53:19 AM
    Author     : root
*/


.catalog-table{
    margin: 0px auto;
    width: 95%;
    
}

.catalog-button{
    font-size: 12px !important;
    color: rgba(55,74,153, 1) !important;
}