<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" 

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
          http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd 
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
">
    <!-- For consider the using of annotations foe defining Spring Bean 
    
    --> 
    
    <context:annotation-config />
    
    <!-- For defining Spring Bean -->
    <context:component-scan base-package="com.simphony.beans" />
    
    <!-- For bootstrapping the Spring Repository -->
    <jpa:repositories base-package="com.simphony.repositories" />
    
    <!-- Necessary to get the entity manager injected into the factory bean -->
    
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <!-- Define EclipseLink JPA Vendor Adapter 
    <bean id="jpaVendorAdapter"
          class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
        <property name="databasePlatform"
                  value="org.eclipse.persistence.platform.database.MySQLPlatform" />
        <property name="generateDdl" value="false" />
        <property name="showSql" value="true" />
    </bean>
    -->
    
    <!-- Define Hibernate JPA Vendor Adapter-->
    <bean id="jpaVendorAdapter" 
          class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
    </bean>
            
    <!-- Entity Manager Factory
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="simphony_pu"></property>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
    </bean>
    -->
    <bean id="entityManagerFactory"
           class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        
        <property name="persistenceUnitName" value="simphony_pu"></property>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
    </bean>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
	 
    <!-- Enable Transactional Manner -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    
    

</beans>
